<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dipolo.vendedores">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icdipolovendedores"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icdipolovendedoresrounded"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".empresas.InteriorDipolizada"
            android:exported="false" />
        <activity
            android:name=".llamadas.NuevoRegistro"
            android:exported="false" />
        <activity
            android:name=".InicioSesion"
            android:exported="false" />
        <activity
            android:name=".Carga"
            android:exported="false" />
        <activity
            android:name=".empresas.FormularioDipolizar"
            android:exported="false" />
        <activity
            android:name=".empresas.InteriorEmpresa"
            android:exported="false" />
        <activity
            android:name=".menu.Llamadas"
            android:exported="false" />
        <activity
            android:name=".menu.Perfil"
            android:exported="false" />
        <activity
            android:name=".menu.Bibliotecas"
            android:exported="false" />
        <activity
            android:name=".menu.Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>